body{
  background-color: aquamarine(288,213,106);

}

header{
    background-color: rgb(142, 223, 196);
    padding: 20px;
    text-align: center;
    border: 5px solid rgb(150, 72, 228);
    border: 5px;
    border-radius: 5px;
    margin-bottom: 45px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 190px 500px;
}