body{
  margin: 0%;
  padding: 0%;
}

header{
  background-image: url(./crizhamay.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
  
}

header{
  background-color: pink(0,0,0,1.5);
  color: rgb(95, 240, 139);
  padding: 10px 0;
  text: align 0;

}

nav a{
  color: rgb(16, 206, 240);
  text-decoration: none;
  margin:0 15px;
  font-size: 18px;

}

nav a:hover{
  background-color: pink;

}


h1{
  text: align 0;
  color: rgb(138, 25, 123);
  margin-top: 50px;

}

p{
  text: align 1px;;
  color: rgb(255, 254, 254);
  font-size: 20px;

}

.container{
  width: 80px;
  margin:0 auto;
}
h1{
  text-align: center;
   border-style: double;
    border-color: pink;
    padding: 10px;
    background-color: rgb(255, 192, 203);
    font-family: 'Arial', sans-serif;
    font-size: 36px;

}
h2{
  text-align:left;
   border-style: double;
    border-color: rgb(59, 5, 14);
    padding: 10px;
    background-color: rgb(143, 55, 69);
    font-family: 'Arial', sans-serif;
    font-size: 28px;
}
li{
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-style: double;

}
div{
  text-align: center;
  margin-top: 20px;
  border-color: rgb(230, 229, 235);
  border-style: double;

}
a{
  background-color: aqua;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  
}
